<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area hp_bg_11">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>충전소 요청</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div id="hpForm" class="col-lg-9 apply_form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="apply_info_text text-center">
                            <h1>충전소 요청 검토</h1>
                            <p>등록자가 요청한 충전소의 정보가 맞는지 확인해주세요.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            충전소 이름&ensp;<input type="text" class="single_field col-md-10"
                                                name="CHARGENAME" readonly id="CHARGENAME"
                                                th:value="${session.csSessionRequest.getCHARGENAME()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            운영 기관&ensp;<input type="text" class="single_field col-md-10"
                                               name="OPERATION" readonly id="OPERATION"
                                               th:value="${session.csSessionRequest.getOPERATION()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            충전 속도&ensp;<input type="text" class="single_field col-md-10"
                                               name="CHARGESPEED" readonly id="CHARGESPEED"
                                               th:value="${session.csSessionRequest.getCHARGESPEED()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            충전기 수&ensp;<input type="text" class="single_field col-md-10"
                                               name="CHARGEAMOUNT" readonly id="CHARGEAMOUNT"
                                               th:value="${session.csSessionRequest.getCHARGEAMOUNT()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            우편 번호&ensp;<input type="text" class="single_field col-md-10"
                                               name="POSTCODE" readonly id="POSTCODE"
                                               th:value="${session.csSessionRequest.getPOSTCODE()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            도로명 주소&ensp;<input type="text" class="single_field col-md-10"
                                               name="ROADADDRESS" readonly id="ROADADDRESS"
                                               th:value="${session.csSessionRequest.getROADADDRESS()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            도로명 주소 2&ensp;<input type="text" class="single_field col-md-10"
                                                 name="EXTRAADDRESS" readonly id="EXTRAADDRESS"
                                                 th:value="${session.csSessionRequest.getEXTRAADDRESS()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            상세 주소&ensp;<input type="text" class="single_field col-md-10"
                                               name="DETAILADDRESS" readonly id="DETAILADDRESS"
                                               th:value="${session.csSessionRequest.getDETAILADDRESS()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            기본 요금&ensp;<input type="text" class="single_field col-md-10"
                                              name="MIN30FEE" readonly id="MIN30FEE"
                                              th:value="${session.csSessionRequest.getMIN30FEE()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            추가 요금&ensp;<input type="text" class="single_field col-md-10"
                                               name="ADDMIN10FEE" readonly id="ADDMIN10FEE"
                                               th:value="${session.csSessionRequest.getADDMIN10FEE()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            케이블&ensp;<input type="text" class="single_field col-md-10"
                                               name="CABLE" readonly id="CABLE"
                                               th:value="${session.csSessionRequest.getCABLE()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            충전 타입&ensp;<input type="text" class="single_field col-md-10"
                                               name="CHARGETYPE" readonly id="CHARGETYPE"
                                               th:value="${session.csSessionRequest.getCHARGETYPE()}">
                        </div>
                        <div th:unless="${session.csSessionRequest==null}" class="single_field col-md-12">
                            체크&ensp;<input type="text" class="single_field col-md-10"
                                              name="CHARGINGCHK" readonly id="CHARGINGCHK"
                                              th:value="${session.csSessionRequest.getCHARGINGCHK()}">
                        </div>

                        <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                            <br><h4>충전소 사진</h4>
                            <img th:src="${session.csSessionRequest.getCHARGEPIC()}" width="100%" height="90%">
                            <h4>아파트 사진</h4>
                            <img th:src="${session.csSessionRequest.getAPTMAP()}" width="100%" height="90%">
                            <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button id="csRequestBtn" class="genric-btn success radius">승인</button>
                            </div>
                        </div>


                    </div>
                    <!--
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            주차장 명&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-10" name="parkingName" readonly
                                                          id="parkingName" th:value="${request.parkingName}" >
                        </div>
                    </div>
                    <div class="col-md-12 center">
                        <br><h4>주차장 타입</h4>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="단독 주택"
                                       th:checked="${request.parkingType} == '단독 주택'">&ensp;단독 주택
                            </p>
                        </label>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="개인 사유지"
                                       th:checked="${request.parkingType} == '개인 사유지'">&ensp;개인 사유지
                            </p>
                        </label>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="공동 주택"
                                       th:checked="${request.parkingType} == '공동 주택'">&ensp;공동 주택
                            </p>
                        </label>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="기타"
                                       th:checked="${request.parkingType} == '기타'">&ensp;기타
                            </p>
                        </label>
                        <div class="col-md-12" id="showEtc" style="display: none;">
                            <div class="single_field col-md-12">
                                기타&ensp;<input type="text" id="etc" name="etc" class="single_field col-md-8"
                                               th:value="${request.etc}" readonly>
                            </div>
                            <div id="errEtc"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            <br> 주차 공간 수&ensp;<input type="text" id="place" name="place" class="single_field col-md-10"
                                                     th:value="${request.place}" readonly>
                        </div>
                        <div id="errPlace"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            기본 요금&ensp;&ensp;&ensp;<input type="text" id="min30Fee" name="min30Fee" class="single_field col-md-10"
                                                          th:value="${request.min30Fee}" readonly>
                        </div>
                        <div id="errMin30Fee"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            추가 요금&ensp;&ensp;&ensp;<input type="text" id="addMin10Fee" name="addMin10Fee" class="single_field col-md-10"
                                                          th:value="${request.addMin10Fee}" readonly>
                        </div>
                        <div id="errAddMin10Fee"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            운영 시간&ensp;&ensp;&ensp;<input type="text" id="manageTime" name="manageTime" class="single_field col-md-10"
                                                          th:value="${request.manageTime}" readonly>
                        </div>
                        <div id="errManageTime"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            우편 번호&ensp;&ensp;&ensp;<input type="text" id="postcode" name="postcode" class="single_field col-md-10"
                                                          th:value="${request.postcode}" readonly>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            도로명 주소&ensp;<input type="text" id="roadAddress" name="roadAddress" class="single_field col-md-10"
                                               th:value="${request.roadAddress}" readonly>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            지번 주소&ensp;&ensp;&ensp;<input type="text" id="jibunAddress" name="jibunAddress" class="single_field col-md-10"
                                                          th:value="${request.jibunAddress}" readonly>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            참고 항목&ensp;&ensp;&ensp;<input type="text" id="extraAddress" name="extraAddress" class="single_field col-md-10"
                                                          th:value="${request.detailAddress}" readonly>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            상세 주소&ensp;&ensp;&ensp;<input type="text" id="detailAddress" name="detailAddress" class="single_field col-md-10"
                                                          th:value="${request.extraAddress}" readonly>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                        <br><h4>주차장 사진</h4>
                        <img th:src="${request.parkingPic}" width="100%" height="90%">
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button id="request" class="genric-btn success radius">승인</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                        <br><h4>아파트 내부 지도(사진)</h4>
                        <img th:src="${request.aptMap}" width="100%" height="90%">
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button id="back" class="genric-btn danger radius">취소</button>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
            </div>
            </div>
</div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>