<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area scs_bg_06">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>충전소 요청</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="def_mar">
                    <!--                    <h1>충전소 요청 목록</h1>-->
                    <!--                    <br>-->
                    <h2>충전소 등록하기</h2>
                    <p class="def_lit_mar">
                        남는 충전소가 있으신가요?<br>
                        충전소를 등록한 후 수입을 만들어보세요.<br>
                        <a href="/chargingStation/chargingRegister" role="button" class="genric-btn primary circle">계속</a>


                    <table class="table table-striped">
                        <thead class="thead-strong">
                        <tr>
                            <th>순번</th>
                            <th>주차장 이름</th>
                            <th>주차장 타입</th>
                            <th>주차장 칸 수</th>
                            <th>아파트 이름</th>
                            <th>도로명 주소</th>
                            <th>지번 주소</th>
                            <th>상세 주소</th>
                            <th>등록일</th>
                            <th>등록자</th>
                            <th>관리자 승인</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr th:each ="CSrequestList, num : ${CSrequestList}">
                            <td><span th:text="${num.count}"></span></td>
                            <td><a th:href="@{'/admin/requestHappyParking/' + ${CSrequestList.csName}}"><span th:text="${CSrequestList.csName}"/></a></td>
                            <td><span th:text="${CSrequestList.csType}"/></td>
                            <td><span th:text="${CSrequestList.place}"/></td>
                            <td><span th:text="${CSrequestList.resName}"/></td>
                            <td><span th:text="${CSrequestList.roadAddress}"/></td>
                            <td><span th:text="${CSrequestList.jibunAddress}"/></td>
                            <td><span th:text="${CSrequestList.detailAddress}"/></td>
                            <td><span th:text="${#dates.format(CSrequestList.regDate, 'YYYY-MM-dd HH:mm:ss')}"/></td>
                            <td><span th:text="${CSrequestList.name}"/></td>
                            <td><span th:text="${CSrequestList.csChk}"/></td>

                        </tr>
                        </tbody>
                    </table>
                <!--
                <table class="table table-horizontal" table-border>
                    <thead class="thead-strong">
                    <tr>
                        <th>등록자</th>
                        <th>충전소 이름</th>
                        <th>충전소 타입</th>
                        <th>충전소 개수</th>
                        <th>도로명주소</th>
                        <th>상세주소</th>
                        <th>여분주소</th>
                        <th>등록날짜</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#requestList}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/happyParking/requestHappyParking/{{parkingName}}">{{parkingName}}</a></td>
                        <td>{{parkingType}}</td>
                        <td>{{place}}</td>
                        <td>{{SAMPLE4_ROADADDRESS}}</td>
                        <td>{{SAMPLE4_DETAILADDRESS}}</td>
                        <td>{{SAMPLE4_EXTRAADDRESS}}</td>
                        <td>{{PARKINGDATE}}</td>
                    </tr>
                    {{/requestList}}
                    </tbody>
                </table>
                -->
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>