<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area scs_bg_06">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>충전소 요청</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="def_mar">
                    <h2>충전소 등록하기</h2>
                    <p class="def_lit_mar">
                        남는 충전소가 있으신가요?<br>
                        충전소를 등록한 후 수입을 만들어보세요.<br>
                        <a href="/chargingStation/chargingRegister" role="button"
                           class="genric-btn primary circle">계속</a>


                    <table class="table table-striped">
                        <thead class="thead-strong">
                        <tr>
                            <th>순번</th>
                            <th>충전소 명</th>
                            <th>운영기관</th>
                            <th>충전 속도</th>
                            <th>충전기 수</th>
                            <th>도로명주소</th>
                            <th>상세주소</th>
                            <th>참고항목</th>
                            <th>기본요금</th>
                            <th>추가요금</th>
                            <th>케이블</th>
                            <th>충전타입</th>
                            <th>승인여부</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr th:each="CSrequestList, num : ${CSrequestList}">
                            <td><span th:text="${num.count}"></span></td>
                            <td><a th:href="@{'/admin/CSrequest/' + ${CSrequestList.CHARGENAME}}"><span
                                    th:text="${CSrequestList.CHARGENAME}"/></a></td>
                            <td><span th:text="${CSrequestList.OPERATION}"/></td>
                            <td><span th:text="${CSrequestList.CHARGESPEED}"/></td>
                            <td><span th:text="${CSrequestList.CHARGEAMOUNT}"/></td>
                            <td><span th:text="${CSrequestList.ROADADDRESS}"/></td>
                            <td><span th:text="${CSrequestList.DETAILADDRESS}"/></td>
                            <td><span th:text="${CSrequestList.JIBUNADDRESS}"/></td>
                            <td><span th:text="${CSrequestList.MIN30FEE}"/></td>
                            <td><span th:text="${CSrequestList.ADDMIN10FEE}"/></td>
                            <td><span th:text="${CSrequestList.CABLE}"/></td>
                            <td><span th:text="${CSrequestList.CHARGETYPE}"/></td>
                            <td><span th:text="${CSrequestList.CHARGINGCHK}"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
</section>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>