<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>주차장 요청</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="def_mar">
                    <h1>충전소 요청 목록</h1><br>
                </div>
                <table class="table table-striped">
                    <thead class="thead-strong">
                    <tr>
                        <th>순번</th>
                        <th>주차장 명</th>
                        <th>주차장 타입</th>
                        <th>주차장 칸 수</th>
                        <th>아파트 명</th>
                        <th>도로명주소</th>
                        <th>지번주소</th>
                        <th>상세주소</th>
                        <th>등록일</th>
                        <th>등록자</th>
                        <th>승인여부</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                        <div th:if="${not #lists.isEmpty(hpRequestList)}">
                            <tr th:each ="hpRequestList, num : ${hpRequestList}">
                                <td><div th:text="${num.count}"></div></td>
                                <td><a th:href="@{'/admin/hpRequest/' + ${hpRequestList.hp_name}}"><span th:text="${hpRequestList.hp_name}"/></a></td>
                                <td><div th:text="${hpRequestList.hp_type}"/></td>
                                <td><div th:text="${hpRequestList.place}"/></td>
                                <td><div th:text="${hpRequestList.res_name}"/></td>
                                <td><div th:text="${hpRequestList.road_addr}"/></td>
                                <td><div th:text="${hpRequestList.jibun_addr}"/></td>
                                <td><div th:text="${hpRequestList.detail_addr}"/></td>
                                <td><div th:text="${#dates.format(hpRequestList.reg_date, 'YYYY-MM-dd HH:mm:ss')}"/></td>
                                <td><div th:text="${hpRequestList.name}"/></td>
                                <td><div th:text="${hpRequestList.hp_chk}"/></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(hpRequestList)}">
            <div>
                <br><br><h4 style="text-align: center">조회된 데이터가 없습니다.</h4>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>