<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>주차장 요청</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="def_mar">
                    <h1>주차장 요청 목록</h1><br>
                </div>
                <div th:if="${not #lists.isEmpty(hpRequestList)}">
                    <table class="table table-striped">
                        <thead class="thead-strong">
                        <tr style="text-align: center;">
                            <th>순번</th>
                            <th>주차장 명</th>
                            <th>주차장 칸 수</th>
                            <th>아파트 명</th>
                            <th>등록일</th>
                            <th>등록자</th>
                            <th>승인여부</th>
                        </tr>
                        </thead>
                        <tbody id="tbody" style="text-align: center;">
                        <tr th:each="hpRequestList, num : ${hpRequestList}">
                            <td>
                                <div th:text="${num.count}"></div>
                            </td>
                            <td><a th:href="@{'/admin/hpRequest/' + ${hpRequestList.hp_name}}"><span
                                    th:text="${hpRequestList.hp_name}"/></a></td>
                            <td>
                                <div th:text="${hpRequestList.place}"/>
                            </td>
                            <td>
                                <div th:text="${hpRequestList.res_name}"/>
                            </td>
                            <td>
                                <div th:text="${#dates.format(hpRequestList.hp_reg_date, 'YYYY-MM-dd HH:mm:ss')}"/>
                            </td>
                            <td>
                                <div th:text="${hpRequestList.name}"/>
                            </td>
                            <td>
                                <div th:text="${hpRequestList.hp_chk}"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br><!-- paging button--><br>
                    <div id="pagingButton" style="margin-left: 35%;">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" th:href="@{?page=1}" aria-label="Previous">
                                    <span aria-hidden="true">처음</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{?page={page} (page = ${pagination.prevBlock})}" aria-label="Previous">
                                    <span aria-hidden="true">이전</span>
                                </a>
                            </li>
                            <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                                <li class="page-item"
                                    th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                                    th:each="pageButton : ${#numbers.sequence(start, end)}">
                                    <a class="page-link" th:href="@{?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                                </li>
                            </th:block>
                            <li class="page-item">
                                <a class="page-link" th:href="@{?page={page} (page = ${pagination.nextBlock})}" aria-label="Next">
                                    <span aria-hidden="true">다음</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Previous">
                                    <span aria-hidden="true">끝</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(hpRequestList)}">
            <div>
                <br><br><h4 style="text-align: center">조회된 데이터가 없습니다.</h4>
            </div>
        </div>
    </div>
</section>

<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>