<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>즐겨 찾기</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${session.user==null}"></div>
<div th:unless="${session.user==null}">
    <input type="hidden" id="email" th:value="${session.user.email}">
</div>
<div class="about_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-90">
                    <span class="wow fadeInUp"></span>
                    <h3 class="wow fadeInUp">즐겨찾기</h3>
                    <div  style="float: right">
                        <select class="selectpicker" name="select">
                            <option value="충전소" id="charge">충전소</option>
                            <option data-divider="true"></option>
                            <option value="주차장" id="parking">주차장</option>
                        </select>
                    </div>
                </div>
            </div>
        </div><br>
        <div th:each="usersHp : ${usersHp}">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <img style="width: 550px; height: 400px; margin-bottom: 70px;"
                             th:src="${usersHp.parkingPic}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about_info pl-68">
                        <h1><span th:text="${usersHp.parkingName}" id="parkingName"/></h1>
                        <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                            <span th:text="${usersHp.roadAddress}"/><br>
                            <span th:text="${usersHp.extraAddress} + 'asdfasdfasdf'"/>
                        </p>
                        <div class="about_list">
                            <ul>
                                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">운영 시간 : <span th:text="${usersHp.manageTime}"/></li>
                                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">기본 요금(30분당) : <span th:text="${usersHp.min30Fee}"/></li>
                                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">추가 요금(10분당) : <span th:text="${usersHp.addmin10Fee}"/></li>
                            </ul>
                            <br><a class="boxed-btn3" id="moveHpBook">주차장 예약</a><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"/>
</body>
<script src="/js/myPage.js"></script>
<script th:replace="layout/layout :: script"/>
</html>