<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<style>
    p {
        line-height: 40px;
        font-size: 20px;
    }

    #upload {
        opacity: 0;
    }

    #upload2 {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    #upload-label2 {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }

    /*
    *
    * ==========================================
    * FOR DEMO PURPOSES
    * ==========================================
    *
    */
</style>
<header th:replace="layout/layout :: header"/>
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3 id="memberEditPage">정보 수정</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>회원정보 수정</h3>
                                <p style="color:red;">회원 구분 변경은 관리자 심사 후 반영됩니다.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <p>이메일&emsp14;&emsp14;&emsp14;:&emsp14;&emsp14;&emsp14;<input type="text" th:value="${memberEdit.email}" class="col-md-10"></p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="single_field">
                                <p>비밀번호&emsp14;:&emsp14;<input id="password" type="text" placeholder="수정할 비밀번호를 입력하세요." class="col-md-9"></p>
                            </div>
                        </div>
                        <div class="single_field">
                            <button id="updatePassword" class="genric-btn info-border e-large">수정</button>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <p>이름&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;:&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;<input type="text" th:value="${memberEdit.name}" class="col-md-10"></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <p>폰번호&emsp14;&emsp14;&emsp14;:&emsp14;&emsp14;&emsp14;<input type="text" th:value="${memberEdit.phone}" class="col-md-10"></p>
                            </div>
                        </div>

                        <!-- 회원구분 선택 -->
                        <div class="col-md-12 center">
                            <label class="interval">
                                <input type="radio" name="memberRole" value="normal">
                                일반 회원
                            </label> <label class="interval">
                                <input type="radio" name="memberRole" value="guard">
                                경비 회원
                            </label> <label class="interval">
                                <input type="radio" name="memberRole" value="register">
                                등록자 회원
                            </label>
                        </div>

                        <div id="guardForm" style="display: none;" class="container"><br>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="관리업체 이름">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="관리업체 번호">
                                </div>
                            </div><br>
                            <div class="col-md-12">

                                    <span style="font-size: 20px">경비 교육 이수증</span>
                                    <div class="row py-4">
                                        <!-- Upload image input-->
                                        <div class="input-group mb-3 px-2 py-2 bg-white shadow-sm">
                                            <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                                            <label id="upload-label" for="upload" class="font-weight-light text-muted">파일 업로드</label>
                                            <div class="input-group-append">
                                                <label for="upload" class="btn btn-light m-0 rounded-pill px-4">
                                                    <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                                                    <small class="text-uppercase font-weight-bold text-muted">파일 업로드</small>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Uploaded image area-->
                                        <div class="image-area mt-4">
                                            <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                        </div>
                                    </div><br>

                                    <div class="submit_btn">
                                        <button id="guardUpload" class="genric-btn info-border">사진 등록</button>
                                    </div>

                            </div>
                        </div>

                        <div id="registerForm" style="display: none;" class="container"><br>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="계좌번호">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="은행이름">
                                </div>
                            </div><br>
                            <div class="col-md-12">
                                <div class="newsletter_form">
                                    <span style="font-size: 20px">등록자 증명 서류</span>
                                    <div class="row py-4">
                                            <!-- Upload image input-->
                                            <div class="input-group mb-3 px-2 py-2 bg-white shadow-sm">
                                                <input id="upload2" type="file" onchange="readURL2(this);" class="form-control border-0">
                                                <label id="upload-label2" for="upload2" class="font-weight-light text-muted">파일 업로드</label>
                                                <div class="input-group-append">
                                                    <label for="upload2" class="btn btn-light m-0 rounded-pill px-4">
                                                        <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                                                        <small class="text-uppercase font-weight-bold text-muted">파일 업로드</small>
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- Uploaded image area-->
                                            <div class="image-area mt-4">
                                                <img id="imageResult2" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                            </div>
                                    </div>

                                    <div class="submit_btn">
                                        <button id="registerUpload" class="genric-btn info-border">사진 등록</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button class="boxed-btn3">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 경비
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById( 'upload' );
    var infoArea = document.getElementById( 'upload-label' );

    input.addEventListener( 'change', showFileName );
    function showFileName( event ) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }

    // 등록자
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult2')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload2').on('change', function () {
            readURL2(input);
        });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById( 'upload2' );
    var infoArea = document.getElementById( 'upload-label2' );

    input.addEventListener( 'change', showFileName );
    function showFileName( event ) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }
</script>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>