<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<style>
    p {
        line-height: 40px;
        font-size: 20px;
    }
</style>
<header th:replace="layout/layout :: header"/>
<input type="hidden" id="sessionId" th:value="${session.user.email}">
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>정보 수정</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>회원정보 수정</h3>
                                <p style="color:red;">회원 구분 변경은 관리자 심사 후 반영됩니다.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <p>아이디&emsp14;&emsp14;&emsp14;:&emsp14;&emsp14;&emsp14;ㅁㄴㅇㄹ</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="single_field">
                                <input id="password" type="text" placeholder="수정할 비밀번호를 입력하세요.">
                            </div>
                        </div>
                        <div class="single_field">
                            <button id="updatePassword" class="genric-btn info-border">수정하기</button>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <p>이름&emsp14;&emsp14;&emsp14;:&emsp14;&emsp14;&emsp14;ㅁㄴㅇㄹ</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <p>폰번호&emsp14;&emsp14;&emsp14;:&emsp14;&emsp14;&emsp14;ㅁㄴㅇㄹ</p>
                            </div>
                        </div>

                        <!-- 회원구분 선택 -->
                        <div class="col-md-12 center">
                            <label class="interval">
                                <input type="radio" name="memberRole" value="normal">
                                일반 회원
                            </label> <label class="interval">
                                <input type="radio" name="memberRole" value="guard">
                                경비 회원
                            </label> <label class="interval">
                                <input type="radio" name="memberRole" value="register">
                                등록자 회원
                            </label>
                        </div>

                        <div id="guardForm" style="display: none;">
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="관리업체 이름">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="관리업체 번호">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="newsletter_form">
                                    <label for="image1"><span style="font-size: 20px">경비 교육 이수증</span></label>
                                    <input type="file" name="file1" id="image1" accept="image/*" class="single-input" /><br>
                                    <button type="upload" class="genric-btn info-border">사진 등록</button>
                                </div>
                            </div>
                        </div>

                        <div id="registerForm" style="display: none;">
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="계좌 번호">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="은행 이름">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="newsletter_form">
                                    <label for="image1"><span style="font-size: 20px">등록자 증명 서류</span></label>
                                    <input type="file" name="file1" id="image2" accept="image/*" class="single-input" /><br>
                                    <button type="upload" class="genric-btn info-border">사진 등록</button>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button class="boxed-btn3" type="submit">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>