<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<style>
    table {
        margin-left: 10%;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
</style>
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>이용 내역</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="email" th:value="${mem.email}">
<div class="container">
    <div class="row">
        <div style="font-size: 40px">
            <br><span th:text="${mem.name}+ '님'"/>&emsp14;이용 내역
        </div>
    </div>
</div>
<div style="margin-left: 20%">
    <form th:action="${'/myPage/scsHistorySearch/'}+${session.user.email}" method="post">
        <br><input type="date" name="find_start_date">&emsp;~&emsp;<input type="date" name="find_end_date">&emsp;
        <input type="submit" id="hpHistorySearch" class="genric-btn success radius" value="검색">
    </form>
    <div style="float: right; margin-bottom: 2%; margin-right: 12%">
        <select class="selectpicker" id="selectHistory">
            <option value="충전소">충전소</option>
            <option value="주차장" selected="selected">주차장</option>
        </select>
    </div>
    <pre></pre>
</div>
<div class="section_title text-center mb-90">
    <div class="col-lg-10">
        <table class="table table-horizontal">
            <thead class="thead-strong">
            <tr>
                <th>상품이름</th>
                <th>사용위치</th>
                <th>사용시간</th>
                <th>이용가격</th>
                <th>결제일자</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <div th:if="${not #lists.isEmpty(scsSearchHistory)}">
                <tr th:each ="scsSearchHistory : ${scsSearchHistory}">
                    <td><span id="scs_name" th:text="${scsSearchHistory.scs_name}"/></td>
                    <td><span id="road_addr" th:text="${scsSearchHistory.road_addr}"/></td>
                    <td><span id="start_date" th:text="${#dates.format(scsSearchHistory.start_date, 'YYYY-MM-dd HH:mm:ss')}"/>
                        <span id="end_date" th:text="${#dates.format(scsSearchHistory.end_date, 'YYYY-MM-dd HH:mm:ss')}"/>
                        &emsp14;/&emsp14;<span id="used_time" th:text="${scsSearchHistory.used_time} + 'h'"/></td>
                    <td><span id="price" th:text="${scsSearchHistory.price}"/></td>
                    <td><span id="pay_date" th:text="${#dates.format(scsSearchHistory.pay_date, 'YYYY-MM-dd HH:mm:ss')}"/></td>
                </tr>
            </div>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(scsSearchHistory)}">
            <div style="margin-left: 20%">
                <br><br><h4 style="text-align: center">조회된 데이터가 없습니다.</h4>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script>
    // history select
    $('#selectHistory').change(function () {
        if($(this).val()=='충전소'){
            let email = $('#email').val();
            window.location.href = '/myPage/scsHistory/'+email;
        }
        if($(this).val()=='주차장'){
            let email = $('#email').val();
            window.location.href = '/myPage/hpHistory/'+email;
        }
    });
</script>
<script th:replace="layout/layout :: script"/>
</html>