<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<style>

    #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    #upload2 {
        opacity: 0;
    }

    #upload-label2 {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }

    /* 플로팅 메뉴 스타일*/
    #floatMenu{
        position:absolute;
        width:200px;
        right:5%;
        padding:0;
        margin:0;
        z-index:1000;
        text-align:center;
        top:600px;
    }
</style>
<header th:replace="layout/layout :: header"/>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("roadAddress").value = roadAddr;
                document.getElementById("jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
<!-- bradcam_area  -->
<div class="bradcam_area scs_bg_15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>충전소 등록</h3><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
        <form action="/rest/chargingRegister" method="post">
            <div class="row justify-content-center">
                <div class="col-lg-9 apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h1>충전소 등록</h1>
                                <p>등록할 충전소의 정보를 기입하세요!</p>
                                <p>제출 후 심사를 통해 등록됩니다.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                충전소 명&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-10" name="chargeName" id="chargeName" placeholder="충전소 명">
                            </div>
                        </div>

                        <div class="col-md-12 center">
                            <br><h4>충전 타입</h4>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="chargeType" value="dcChademo" class="d-inline-block">&ensp;DC 차데모
                                </p>
                            </label>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="chargeType" value="dcCombo" class="d-inline-block">&ensp;DC 콤보
                                </p>
                            </label>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="chargeType" value="super" class="d-inline-block">&ensp;슈퍼 차져
                                </p>
                            </label>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="chargeType" value="ac5pin" class="d-inline-block">&ensp;AC 3상 5핀
                                </p>
                            </label>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="chargeType" value="ac7pin" class="d-inline-block">&ensp;AC 3상 7핀
                                </p>
                            </label>
                        </div>

                        <div class="col-md-12">
                            <br><span style="line-height: 2.5; margin-left: 0.7em">운영 기관</span>
                            <div class="single_field col-md-10" style="position: relative; float: right">
                                <select class="wide" name="operation" id="operation">
                                    <option data-display="운영기관을 선택해주세요">운영기관을 선택해주세요</option>
                                    <option value="환경부(한국자동차환경협회)" selected>환경부(한국자동차환경협회))</option>
                                    <option value="한국 전력">한국 전력</option>
                                    <option value="GS 칼텍스">GS 칼텍스</option>
                                    <option value="차지비">차지비</option>
                                    <option value="현대자동차">현대자동차</option>
                                    <option value="기아자동차">기아자동차</option>
                                    <option value="한국GM">한국GM</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 center">
                            <br><h4>케이블</h4>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="cable" value="dcChademo" class="d-inline-block">&ensp;장착된 케이블
                                </p>
                            </label>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="cable" value="dcCombo" class="d-inline-block">&ensp;차주 케이블
                                </p>
                            </label>
                            <label class="interval">
                                <p style="font-size: 18px">
                                    <input type="checkbox" name="cable" value="super" class="d-inline-block">&ensp;둘 다
                                </p>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                <br>충전기 수&ensp;&ensp;&ensp;<input type="text" name="chargeAmount" class="single_field col-md-10" placeholder="ex)&ensp;100&ensp;&ensp;충전기 개수(Ex:50대)">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                <br>충전 속도&ensp;&ensp;&ensp;<input type="text" name="chargeSpeed" class="single_field col-md-10" placeholder="ex)&ensp;100&ensp;&ensp;충전 속도(단위:Kw)">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                기본 요금&ensp;&ensp;&ensp;<input type="text" name="min30Fee" class="single_field col-md-10" placeholder="ex)&ensp;30분당 500원">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                추가 요금&ensp;&ensp;&ensp;<input type="text" name="addMin10Fee" class="single_field col-md-10" placeholder="ex)&ensp;10분당 500원">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                운영 시작 시간&ensp;&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-9" placeholder="ex)&ensp;09:00">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                운영 종료 시간&ensp;&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-9" placeholder="ex)&ensp;16:00">
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                            <br><h4>주소</h4>
                            <p class="newsletter_text">주소를 검색하여 주소를 등록해주세요.</p>
                            <div class="newsletter_form">
                                <button type="button" onclick="sample4_execDaumPostcode()" class="btn btn-outline-primary">주소 불러오기</button>
                                <input type="text" name="postcode" id="postcode" placeholder="우편번호" value="" class="single-input" />
                                <input type="text" name="roadAddress" id="roadAddress" placeholder="도로명주소" value="" class="single-input" />
                                <input type="text" name="jibunAddress" id="jibunAddress" placeholder="지번주소" value="" class="single-input" />
                                <input type="text" name="extraAddress" id="extraAddress" placeholder="참고항목" value="" class="single-input" />
                                <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소" value="" class="single-input"/>
                            </div>
                            <div class="image-area mt-1">
                                <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                            </div>
                        </div>

                        <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                            <br><h4>사진 등록</h4>
                            <p class="newsletter_text">충전소 사진과 아파트 내부 단지 지도를 <br>등록해주세요.</p>
                            <span style="font-size: 20px">충전소 사진</span>
                            <div class="input-group mb-0 px-2 py-2 bg-white shadow-sm">
                                <input id="upload" name="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                                <label id="upload-label" for="upload" class="font-weight-light text-muted">파일 업로드</label>
                                <div class="input-group-append">
                                    <label for="upload" class="btn btn-light m-0 rounded-pill px-2">
                                        <i class="fa fa-cloud-upload mr-1 text-muted"></i>
                                        <small class="text-uppercase font-weight-bold text-muted">파일 업로드</small>
                                    </label>
                                </div>
                            </div>
                            <br>
                            <span style="font-size: 20px">아파트 내부 단지 지도(사진)</span>
                            <div class="input-group mb-0 px-2 py-2 bg-white shadow-sm">
                                <input id="upload2" name="upload2" type="file" onchange="readURL2(this);" class="form-control border-0">
                                <label id="upload-label2" for="upload2" class="font-weight-light text-muted">파일 업로드</label>
                                <div class="input-group-append">
                                    <label for="upload2" class="btn btn-light m-0 rounded-pill px-2">
                                        <i class="fa fa-cloud-upload mr-1 text-muted"></i>
                                        <small class="text-uppercase font-weight-bold text-muted">파일 업로드</small>
                                    </label>
                                </div>
                            </div>
                            <div class="image-area mt-1">
                                <img id="imageResult2" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button class="boxed-btn3" id="csreg" name="csreg" type="submit">등록</button>
                                <a href="/" role="button" value="다음에 할게요"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<!-- 배너 -->
<div id="floatMenu" class="col-xl-10">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">등록하기</h4>
            <ul class="list cat-list">
                <li style="display: inline-block">
                    <a th:href="@{/myPage/residence}" class="d-flex">
                        <p>주소 등록</p>
                    </a>
                </li>
                <li style="display: inline-block">
                    <a th:href="@{/happyParking/happyParkingRegister}" class="d-flex">
                        <p>주차장 등록</p>
                    </a>
                </li>
                <li style="display: inline-block">
                    <a th:href="@{/chargingStation/chargingRegister}" class="d-flex">
                        <p>충전소 등록</p>
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</div>
<script>
    //주차장 사진
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    var input = document.getElementById( 'upload' );
    var infoArea = document.getElementById( 'upload-label' );

    input.addEventListener( 'change', showFileName );
    function showFileName( event ) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = '파일 이름 : ' + fileName;
    }

    //아파트 내부 단지 지도(사진)
    function readURL2(input2) {
        if (input2.files && input2.files[0]) {
            var reader2 = new FileReader();

            reader2.onload = function (e2) {
                $('#imageResult2')
                    .attr('src', e2.target.result);
            };
            reader2.readAsDataURL(input2.files[0]);
        }
    }

    $(function () {
        $('#upload2').on('change', function () {
            readURL2(input2);
        });
    });

    var input2 = document.getElementById( 'upload2' );
    var infoArea2 = document.getElementById( 'upload-label2' );

    input2.addEventListener( 'change', showFileName2 );
    function showFileName2( event2 ) {
        var input2 = event2.srcElement;
        var fileName2 = input2.files[0].name;
        infoArea2.textContent = '파일 이름 : ' + fileName2;
    }
    //====================================================================================================
    // 플로팅 배너
    $(document).ready(function(){
        var currentPosition = parseInt($("#floatMenu").css("top"));
        $(window).scroll(function() {
            var position = $(window).scrollTop();
            $("#floatMenu").stop().animate({"top":position+currentPosition-70+"px"},700);
        });
    });

    $(document).ready(function(){
        $('#top1,#top2,#top3,#bottom1,#c_w1,#category1,#g_w1').click(function(){
            var id = $(this).attr("href");
            var offset = 60;
            var target = $(id).offset().top - offset;
            $('html,body').animate({scrollTop:target},1000);
            event.preventDefault();
        });
    });
</script>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>