<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>로그인</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>로그인 하시겠어요?</h3>
                                <p>아이디와 비밀번호를 입력해주세요!</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input id="email" type="email" placeholder="email@example.com">
                            </div>
                        </div>
                        <div id="errEmail"></div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input id="password" type="password" placeholder="password">
                            </div>
                        </div>
                        <div id="errPassword"></div>
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button id="login" class="boxed-btn3">로그인</button>
                            </div>
                            <div class="button-group-area mt-10 center">
                                <a href="#" class="genric-btn success-border medium">아이디 찾기</a>
                                <a href="#" class="genric-btn success-border medium">비밀번호 찾기</a>
                                <a th:href="@{/index/join}" class="genric-btn success-border medium">회원가입</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--소셜 로그인 버튼 영역-->
                <div class="col-md-12 center">
                    <button style="border: none; background: none;">
                        <img class="socialLogin googleLogin" src="/img/socialLogin/googleLogin.png" th:onclick="|javascript:googleLogin()|">
                    </button>
 &nbsp&nbsp&nbsp&nbsp&nbsp
                    <button style="border: none; background: none;">
                        <img class="socialLogin naverLogin" src="/img/socialLogin/naverLogin.png" th:onclick="|javascript:naverLogin()|">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>