<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>로그인</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>로그인 하시겠어요?</h3>
                                <p>아이디와 비밀번호를 입력해주세요!</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input id="id" type="email" placeholder="asdf@naver.com">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input id="password" type="text" placeholder="password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button id="login" class="boxed-btn3">로그인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group-area mt-10">
                    &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
                    <a href="#" class="genric-btn success-border medium">아이디 찾기</a>
                    <a href="#" class="genric-btn success-border medium">비밀번호 찾기</a>
                    <a th:href="@{/index/join}" class="genric-btn success-border medium">회원가입</a>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3" onclick="location.href='/oauth2/authorization/google}'">구글계정으로 로그인</button>
                        <a th:href="@{/oauth2/authorization/google}">구글 계정으로 로그인</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3" onclick="location.href='/oauth2/authorization/naver}'">네이버 계정으로 로그인</button>
                        <a th:href="@{/oauth2/authorization/naver}">네이버 계정으로 로그인</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3" onclick="location.href='/oauth2/authorization/kakao}'">카카오 계정으로 로그인</button>
                        <a th:href="@{/oauth2/authorization/kakao}">카카오 계정으로 로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>