<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>비밀번호 찾기</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>비밀번호 찾기</h3>
                                <p>이메일과 휴대폰 번호를 입력해주세요!</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input id="email" type="text" placeholder="email@example.com">
                            </div>
                        </div>
                        <div class="single_field" id="errPwEmail"></div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input id="phone" type="text" placeholder="휴대폰 번호를 입력하세요.">
                            </div>
                        </div>
                        <div class="single_field" id="errPwPhone"></div>

                        <span th:unless="${session.selectPw==null}">
                                            <div class="single_field">
                                                    <span th:text="${'고객님의 비밀번호는 '+ session.selectPw.password + '입니다.'}" style="color: black; font-size: 25px;"/>&emsp14;
                                            </div>
                                        </span>
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button id="searchPassword" class="boxed-btn3">비밀번호 찾기</button>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>