<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<style>
    #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    #upload2 {
        opacity: 0;
    }

    #upload-label2 {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }


    /* 플로팅 메뉴 스타일*/
    #floatMenu{
        position:absolute;
        width:200px;
        right:5%;
        padding:0;
        margin:0;
        z-index:1000;
        text-align:center;
        top:600px;
    }

</style>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area scs_bg_15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>주차장 등록</h3><br>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="email" th:value="${session.user.email}">

<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <form id="hpForm" class="col-lg-9 apply_form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="apply_info_text text-center">
                            <h1>주차장 등록</h1>
                            <p>남는 공간이나 주차장이 있으신가요?</p>
                            <p>공간과 주차장을 등록한 후 수입을 만들어보세요.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            주차장 명&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-10" name="parkingName"
                                                          id="parkingName" placeholder="주차장 명">
                        </div>
                        <div id="errParkingName"></div>
                    </div>
                    <div class="col-md-12 center">
                        <br><h4>주차장 타입</h4>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="단독 주택">&ensp;단독 주택
                            </p>
                        </label>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="개인 사유지">&ensp;개인 사유지
                            </p>
                        </label>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="공동 주택" checked>&ensp;공동 주택
                            </p>
                        </label>
                        <label class="interval">
                            <p style="font-size: 17px">
                                <input type="radio" name="parkingType" value="기타">&ensp;기타
                            </p>
                        </label>
                        <div class="col-md-12" id="showEtc" style="display: none;">
                            <div class="single_field col-md-12">
                                기타&ensp;<input type="text" id="etc" name="etc" class="single_field col-md-8"
                                               placeholder="주차장 타입을 입력해주세요.">
                            </div>
                            <div id="errEtc"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            <br> 주차 공간 수&ensp;<input type="text" id="place" name="place" class="single_field col-md-10"
                                                     placeholder="ex) 20칸 - 숫자만 입력해주세요.">
                        </div>
                        <div id="errPlace"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            기본 요금&ensp;&ensp;&ensp;<input type="text" id="min30Fee" name="min30Fee" class="single_field col-md-10" placeholder="ex)&ensp;30분당 1000원 - 숫자만 입력해주세요.">
                        </div>
                        <div id="errMin30Fee"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            추가 요금&ensp;&ensp;&ensp;<input type="text" id="addMin10Fee" name="addMin10Fee"
                                                          class="single_field col-md-10"
                                                          placeholder="ex)&ensp;10분당 500원 - 숫자만 입력해주세요.">
                        </div>
                        <div id="errAddMin10Fee"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_field col-md-12">
                            운영 시간&ensp;&ensp;&ensp;<input type="text" id="manageTime" name="manageTime"
                                                          class="single_field col-md-10"
                                                          placeholder="ex)&ensp;09:00 ~ 16:00">
                        </div>
                        <div id="errManageTime"></div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                        <br><h4>주소</h4>
                        <p class="newsletter_text">주소를 검색하여 주소를 등록해주세요.</p>
                        <input type="hidden" id="resName" name="resName" value="">
                        <div class="newsletter_form">
                            <button type="button" id="loadResidence" data-toggle="modal" data-target="#myModal"
                                    class="btn btn-outline-primary">주소 불러오기
                            </button>
                            <input type="text" name="postcode" id="postcode" placeholder="우편번호" value=""
                                   class="single-input"/>
                            <input type="text" name="roadAddress" id="roadAddress" placeholder="도로명주소" value=""
                                   class="single-input"/>
                            <input type="text" name="jibunAddress" id="jibunAddress" placeholder="지번주소" value=""
                                   class="single-input"/>
                            <input type="text" name="extraAddress" id="extraAddress" placeholder="참고항목" value=""
                                   class="single-input"/>
                            <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소" value=""
                                   class="single-input"/>
                        </div>
                        <div class="image-area mt-1">
                            <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                        <br><h4>사진</h4>
                        <p class="newsletter_text">주차장 사진과 아파트 내부 단지 지도를 <br>등록해주세요.</p>
                        <span style="font-size: 20px">주차장 사진</span>
                        <div class="input-group mb-0 px-2 py-2 bg-white shadow-sm">
                            <input id="upload" name="upload" type="file" onchange="readURL(this);"
                                   class="form-control border-0">
                            <label id="upload-label" for="upload" class="font-weight-light text-muted">파일 업로드</label>
                            <div class="input-group-append">
                                <label for="upload" class="btn btn-light m-0 rounded-pill px-2">
                                    <i class="fa fa-cloud-upload mr-1 text-muted"></i>
                                    <small class="text-uppercase font-weight-bold text-muted">파일 업로드</small>
                                </label>
                            </div>
                        </div>
                        <br>
                        <span style="font-size: 20px">아파트 내부 단지 지도(사진)</span>
                        <div class="input-group mb-0 px-2 py-2 bg-white shadow-sm">
                            <input id="upload2" name="upload2" type="file" onchange="readURL2(this);"
                                   class="form-control border-0">
                            <label id="upload-label2" for="upload2" class="font-weight-light text-muted">파일 업로드</label>
                            <div class="input-group-append">
                                <label for="upload2" class="btn btn-light m-0 rounded-pill px-2">
                                    <i class="fa fa-cloud-upload mr-1 text-muted"></i>
                                    <small class="text-uppercase font-weight-bold text-muted">파일 업로드</small>
                                </label>
                            </div>
                        </div>
                        <div class="image-area mt-1">
                            <img id="imageResult2" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="submit_btn">
                            <button class="boxed-btn3" id="hpReg" name="hpReg" type="submit">등록</button>
                            <a href="/" role="button" value="다음에 할게요"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 배너 -->
<div id="floatMenu" class="col-xl-10">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">등록하기</h4>
            <ul class="list cat-list">
                <li style="display: inline-block">
                    <a th:href="@{/myPage/residence}" class="d-flex">
                        <p>주소 등록</p>
                    </a>
                </li>
                <li style="display: inline-block">
                    <a th:href="@{/happyParking/happyParkingRegister}" class="d-flex">
                        <p>주차장 등록</p>
                    </a>
                </li>
                <li style="display: inline-block">
                    <a th:href="@{/chargingStation/chargingRegister}" class="d-flex">
                        <p>충전소 등록</p>
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</div>

<!-- 모달 -->
<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">불러온 주소 목록</h4>
                    <button type="button" class="close" id="modalClose" aria-hidden="true" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <ul id="loadResidenceList">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //주차장 사진
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    var input = document.getElementById( 'upload' );
    var infoArea = document.getElementById( 'upload-label' );

    input.addEventListener( 'change', showFileName );
    function showFileName( event ) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = '파일 이름 : ' + fileName;
    }

    //아파트 내부 단지 지도(사진)
    function readURL2(input2) {
        if (input2.files && input2.files[0]) {
            var reader2 = new FileReader();

            reader2.onload = function (e2) {
                $('#imageResult2')
                    .attr('src', e2.target.result);
            };
            reader2.readAsDataURL(input2.files[0]);
        }
    }

    $(function () {
        $('#upload2').on('change', function () {
            readURL2(input2);
        });
    });

    var input2 = document.getElementById( 'upload2' );
    var infoArea2 = document.getElementById( 'upload-label2' );

    input2.addEventListener( 'change', showFileName2 );
    function showFileName2( event2 ) {
        var input2 = event2.srcElement;
        var fileName2 = input2.files[0].name;
        infoArea2.textContent = '파일 이름 : ' + fileName2;
    }

    //===========================================================================================
    // 플로팅 배너
    $(document).ready(function(){
        var currentPosition = parseInt($("#floatMenu").css("top"));
        $(window).scroll(function() {
                var position = $(window).scrollTop();
                $("#floatMenu").stop().animate({"top":position+currentPosition-70+"px"},700);
        });
    });

    $(document).ready(function(){
        $('#top1,#top2,#top3,#bottom1,#c_w1,#category1,#g_w1').click(function(){
            var id = $(this).attr("href");
            var offset = 60;
            var target = $(id).offset().top - offset;
            $('html,body').animate({scrollTop:target},1000);
            event.preventDefault();
        });
    });
</script>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>