<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>AAA Room</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- testimonial_area  -->
<div class="testimonial_area custom_testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel none_aaa">

<!--                    <div class="single_carousel">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-11">-->
<!--                                <div class="single_testmonial d-flex align-items-center">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="img/circleIcon/iconSCS01.png" alt="">-->
<!--                                        <div class="quote_icon">-->
<!--                                            <i class=" Flaticon flaticon-quote"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="info">-->
<!--                                        <p>1등 충전소</p>-->
<!--                                        <span>...</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single_carousel">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-11">-->
<!--                                <div class="single_testmonial d-flex align-items-center">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="img/circleIcon/iconSCS02.png" alt="">-->
<!--                                        <div class="quote_icon">-->
<!--                                            <i class=" Flaticon flaticon-quote"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="info">-->
<!--                                        <p>2등 충전소</p>-->
<!--                                        <span>...</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single_carousel">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-11">-->
<!--                                <div class="single_testmonial d-flex align-items-center">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="img/circleIcon/iconSCS03.png" alt="">-->
<!--                                        <div class="quote_icon">-->
<!--                                            <i class=" Flaticon flaticon-quote"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="info">-->
<!--                                        <p>3등 충전소</p>-->
<!--                                        <span>...</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/ranking.js"></script>
<!-- /testimonial_area  -->
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>