<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>AAA Room</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:each ="paycount : ${Paycount}">
    <td><span th:text="${paycount.SCS_NAME}"/></td>
    <td><span th:text="${paycount.PAYNUM}"/></td>

</div>


<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>