<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>AAA Room</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- testimonial_area  -->
<div class="testimonial_area custom_testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <span class="testmonial_active2 owl-carousel rankingSCS">   <!--none_aaa -> ranking.js-->
                </span>
            </div>
        </div>
    </div>
</div>
<script src="/js/ranking.js"></script>
<!-- /testimonial_area  -->
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>