<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>

<!-- bradcam_area  -->
<div class="bradcam_area hp_bg_11">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>FAQ</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- accordion_area_start  -->
<div class="accordion_area extra_padding">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="faq_ask pl-68">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">자주 묻는 질문</h3>
                    <div id="accordion">
                        <div class="card wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".3s">
                            <div class="card-header" id="headingOnee">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOnee" aria-expanded="true" aria-controls="collapseOnee">
                                        질문 1
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOnee" class="collapse show" aria-labelledby="headingOnee" data-parent="#accordion">
                                <div class="card-body">
                                    답변 1
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        질문 2
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                <div class="card-body">
                                    답변 2
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".5s">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        질문 3
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                <div class="card-body">
                                    답변 3
                                </div>
                            </div>
                        </div>
                        <div class="card wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".6s">
                            <div class="card-header" id="headingThree4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                        질문 4
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree4" class="collapse" aria-labelledby="headingThree4" data-parent="#accordion" style="">
                                <div class="card-body">
                                    답변 4
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ accordion_area_end  -->

<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>
