<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area hp_bg_06">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>GRAPH ROOM</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width:80%; height: 100%; border: solid 1px black; margin-left: 10%; margin-top:30px;">
    <canvas id="myChart"></canvas>

    <span th:text="${graphList}"/>
</div>


<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: '2020년 가입자 통계',
                backgroundColor: 'rgb(62,147,0)',
                borderColor: 'rgb(64,64,64)',
                data: [2, 10, 5, 2, 20, 30, 45, 80, 62, 41, 20, 89]
            }]
        },

        // Configuration options go here
        options: {}
    });


</script>
</html>