<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area hp_bg_06">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>GRAPH ROOM</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="form_box_center">
        <div class="default-select" id="default-select1">
            <select style="display: none;" name="year" id="year">
                <option>년</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">년</span>
                <ul class="list">
                    <li class="option selected focus">년</li>
                    <li data-value="2020" class="option">2020</li>
                    <li data-value="2019" class="option">2019</li>
                    <li data-value="2018" class="option">2018</li>
                </ul>
            </div>
        </div>
        <div class="default-select" id="default-select2">
            <select style="display: none;" name="month" id="month">
                <option>월</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">월</span>
                <ul class="list">
                    <li class="option selected focus">월</li>
                    <li data-value="1" class="option">1</li>
                    <li data-value="2" class="option">2</li>
                    <li data-value="3" class="option">3</li>
                    <li data-value="4" class="option">4</li>
                    <li data-value="5" class="option">5</li>
                    <li data-value="6" class="option">6</li>
                    <li data-value="7" class="option">7</li>
                    <li data-value="8" class="option">8</li>
                    <li data-value="9" class="option">9</li>
                    <li data-value="10" class="option">10</li>
                    <li data-value="11" class="option">11</li>
                    <li data-value="12" class="option">12</li>
                </ul>
            </div>
        </div>
        <div class="default-select" id="default-select3">
            <select style="display: none;" name="week" id="week">
                <option>월</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">주간</span>
                <ul class="list">
                    <li class="option selected focus">주간</li>
                    <li data-value="1" class="option">1</li>
                    <li data-value="2" class="option">2</li>
                    <li data-value="3" class="option">3</li>
                    <li data-value="4" class="option">4</li>
                    <li data-value="5" class="option">5</li>
                </ul>
            </div>
        </div>
        <button href="#" class="genric-btn success-border year_button">년도 조회</button>
    </div>
</div>

<div style="width:80%; height: 100%; border: solid 1px black; margin-left: 10%; margin-top:30px;">
    <canvas id="myChart"></canvas>
</div>

<hr>

<div>
    <div class="form_box_center">
        <div class="default-select" id="default-select1-2">
            <select style="display: none;" name="year" id="year">
                <option>년</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">년</span>
                <ul class="list">
                    <li class="option selected focus">년</li>
                    <li data-value="2020" class="option">2020</li>
                    <li data-value="2019" class="option">2019</li>
                    <li data-value="2018" class="option">2018</li>
                </ul>
            </div>
        </div>
        <div class="default-select" id="default-select2-2">
            <select style="display: none;" name="month" id="month">
                <option>월</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">월</span>
                <ul class="list">
                    <li class="option selected focus">월</li>
                    <li data-value="1" class="option">1</li>
                    <li data-value="2" class="option">2</li>
                    <li data-value="3" class="option">3</li>
                    <li data-value="4" class="option">4</li>
                    <li data-value="5" class="option">5</li>
                    <li data-value="6" class="option">6</li>
                    <li data-value="7" class="option">7</li>
                    <li data-value="8" class="option">8</li>
                    <li data-value="9" class="option">9</li>
                    <li data-value="10" class="option">10</li>
                    <li data-value="11" class="option">11</li>
                    <li data-value="12" class="option">12</li>
                </ul>
            </div>
        </div>
        <div class="default-select" id="default-select3-2">
            <select style="display: none;" name="week" id="week">
                <option>월</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">주간</span>
                <ul class="list">
                    <li class="option selected focus">주간</li>
                    <li data-value="1" class="option">1</li>
                    <li data-value="2" class="option">2</li>
                    <li data-value="3" class="option">3</li>
                    <li data-value="4" class="option">4</li>
                    <li data-value="5" class="option">5</li>
                </ul>
            </div>
        </div>
        <button href="#" class="genric-btn success-border month_button">월별 조회</button>
    </div>
</div>
<div style="width:80%; height: 100%; border: solid 1px black; margin-left: 10%; margin-top:30px;">
    <canvas id="myChart2"></canvas>
</div>
<hr>


<div>
    <div class="form_box_center">
        <div class="default-select" id="default-select1-3">
            <select style="display: none;" name="year" id="year">
                <option>년</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">년</span>
                <ul class="list">
                    <li class="option selected focus">년</li>
                    <li data-value="2020" class="option">2020</li>
                    <li data-value="2019" class="option">2019</li>
                    <li data-value="2018" class="option">2018</li>
                </ul>
            </div>
        </div>
        <div class="default-select" id="default-select2-3">
            <select style="display: none;" name="month" id="month">
                <option>월</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">월</span>
                <ul class="list">
                    <li class="option selected focus">월</li>
                    <li data-value="1" class="option">1</li>
                    <li data-value="2" class="option">2</li>
                    <li data-value="3" class="option">3</li>
                    <li data-value="4" class="option">4</li>
                    <li data-value="5" class="option">5</li>
                    <li data-value="6" class="option">6</li>
                    <li data-value="7" class="option">7</li>
                    <li data-value="8" class="option">8</li>
                    <li data-value="9" class="option">9</li>
                    <li data-value="10" class="option">10</li>
                    <li data-value="11" class="option">11</li>
                    <li data-value="12" class="option">12</li>
                </ul>
            </div>
        </div>
        <div class="default-select" id="default-select3-3">
            <select style="display: none;" name="week" id="week">
                <option>월</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="nice-select" tabindex="0"><span class="current">주간</span>
                <ul class="list">
                    <li class="option selected focus">주간</li>
                    <li data-value="1" class="option">1</li>
                    <li data-value="2" class="option">2</li>
                    <li data-value="3" class="option">3</li>
                    <li data-value="4" class="option">4</li>
                    <li data-value="5" class="option">5</li>
                </ul>
            </div>
        </div>
        <button href="#" class="genric-btn success-border week_button">주간 조회</button>
    </div>
</div>
<div style="width:80%; height: 100%; border: solid 1px black; margin-left: 10%; margin-top:30px;">
    <canvas id="myChart3"></canvas>
</div>


<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var year_input = 2016;
    var month_arr = [];
    for(var i = 0; i < 12; i++){
        if(year_input % 4 == 0 && year_input % 100 != 0 || year_input % 400 == 0) {
            month_arr[i] = 29;
            console.log(year_input + "년은 윤년입니다.");
        } else {
            if(i == 1 || i == 3 || i == 5 || i == 7 || i == 8 || i == 10 || i == 12) {
                month_arr[i] = 31;
            } else {
                month_arr[i] = 30;
            }
            console.log(year_input + "년은 윤년이 아닙니다.");
        }
    }

    var select_inner = "";
    $(".year_button").change(function() {
        for(var i = 0; i < 12; i++) {
            if ($(".month").val() == cnt_month[i]) {
                for(var j = 1; j <= cnt_month[j]; j++) {
                    console.log("cnt_month : "+ j + " : " + cnt_month[j]);
                    //select_inner;
                }
            }
        }
    });
    $(".month_button").change(function() {
        for(var i = 0; i < 12; i++) {
            if ($(".month").val() == i) {
                for(var j = 1; j <= cnt_month[i]; j++) {
                    console.log("cnt_month : "+ j + " : " + cnt_month[j]);
                    //select_inner;
                }
            }
        }
    });
    $(".week_button").change(function() {
        for(var i = 0; i < 12; i++) {
            if ($(".month").val() == cnt_month[i]) {
                for(var j = 1; j <= cnt_month[j]; j++) {
                    console.log("cnt_month : "+ j + " : " + cnt_month[j]);
                    //select_inner;
                }
            }
        }
    });

    /*
    $(".option").click(function() {
        console.log($(this).val());
        for(var i = 0; i < 12; i++) {
            if ($(".month").val() == cnt_month[i]) {
                for(var j = 1; j <= cnt_month[j]; j++) {
                    console.log("cnt_month : "+ j + " : " + cnt_month[j]);
                    //select_inner;
                }
            }
        }
    });

     */
    $.ajax({
        method: "post",
        url: "/rest/GraphList"
    })
    .done(function( msg ) {
        //console.log(msg[0].create_date.getMonth());
        var date_arr = [];
        for(var j = 0; j < 12; j++) {
            date_arr[j] = 0;
        }
        for(var i = 0; i < msg.length; i++) {
            var month = new Date(msg[i].create_date);
            if(month.getMonth()+1 == 12) {
                date_arr[11] += 1;
            } else if(month.getMonth()+1 == 11) {
                date_arr[10] += 1;
            } else if(month.getMonth()+1 == 10) {
                date_arr[9] += 1;
            } else if(month.getMonth()+1 == 9) {
                date_arr[8] += 1;
            } else if(month.getMonth()+1 == 8) {
                date_arr[7] += 1;
            } else if(month.getMonth()+1 == 7) {
                date_arr[6] += 1;
            } else if(month.getMonth()+1 == 6) {
                date_arr[5] += 1;
            } else if(month.getMonth()+1 == 5) {
                date_arr[4] += 1;
            } else if(month.getMonth()+1 == 4) {
                date_arr[3] += 1;
            } else if(month.getMonth()+1 == 3) {
                date_arr[2] += 1;
            } else if(month.getMonth()+1 == 2) {
                date_arr[1] += 1;
            } else if(month.getMonth()+1 == 1) {
                date_arr[0] += 1;
            }
        }
        console.log(date_arr + "ㅇㄷ갔누");

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: '2020년 가입자 통계',
                    backgroundColor: 'rgb(62,147,0)',
                    borderColor: 'rgb(64,64,64)',
                    data: [date_arr[0], date_arr[1], date_arr[2], date_arr[3], date_arr[4], date_arr[5], date_arr[6],
                        date_arr[7], date_arr[8], date_arr[9], date_arr[10], date_arr[11]]
                }]
            },

            // Configuration options go here
            options: {}
        });
        //console.log(d.getMonth() + 1);
        //console.log( "Data Saved : ", msg );
    }).fail(function (error) {
        alert("에러 : " + error);
    });

    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var chart2 = new Chart(ctx2, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['2018', '2019', '2020'],
            datasets: [{
                label: '전기차 매출 현황',
                fill: false,
                borderColor: 'rgb(48,208,238)',
                data: [3, 7, 18,],
                lineTension: 0.1
            }]
        },

        // Configuration options go here
        options: {}
    });

    var week_52 = [];
    var week_match = [];
    var cnt_month = [];
    var cnt = 0;
    // 여기임!!!!!!!!!
    $.ajax({
        method: "post",
        url: "/rest/weekList"
    })
        .done(function( msg ) {
            var year = $("#year option:selected").text();
            year = year.replace("년","");
            year += "-01-01";
            var curr = new Date(year); // get current date
            var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
            var last = first + 6; // last day is the first day + 6

            var firstday = new Date(curr.setDate(first)).toUTCString();
            var lastday = new Date(curr.setDate(last)).toUTCString();

            for(var k = 0; k <= 11; k++) {
                cnt_month[k] = 0;
            }
            for(var j = 1; j <= 52; j++) {
                week_match[j] = 0;
                firstday = new Date(addDays(firstday, 7));
            }
            console.log("week_52", week_52);
            for(var m = 0; m < week_52.length; m++) {
                for (var a = 0; a < 12; a++) {
                    if (week_52[m].getMonth() + 1 == a + 1) {
                        console.log("몇번 들어오냐 ㅅㅂ");
                        cnt_month[a] += 1;
                    }
                }
            }
            for(var i = 0; i < msg.length; i++) {
                var day = new Date(msg[i].week_FIRST);
                /*
                console.log("day : " + day);
                console.log("day getDate : " + day.getDate());
                */

                for(var m = 0; m < week_52.length; m++) {
                    if(week_52[m].getMonth()+1 == day.getMonth()+1 && week_52[m].getDate() == day.getDate() - 1) {
                        /*
                        console.log("M : " + m);
                        console.log("week__52 getDATE : " + week_52[m].getDate());
                        console.log("week__52 getMonth : " + week_52[m].getMonth());
                        console.log("day getDate : " + day.getDate());
                        console.log("day getMonth : " + day.getMonth());
                         */
                        week_match[m] += 1;
                    }
                }
                //var d = new Date(msg[i].create_date);

            }
            //console.log("week_match", week_match);
            console.log("cnt_month : " + cnt_month);
            for(var b = 0; b < 12; b++) {

            }
            // 일주일 가입자 그래프
            var ctx3 = document.getElementById('myChart3').getContext('2d');
            var chart3 = new Chart(ctx3, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: ['일', '월', '화', '수', '목', '금', '토'],
                    datasets: [{
                        label: '주간 가입자 통계',
                        backgroundColor: 'rgb(255,171,45)',
                        borderColor: 'rgb(64,64,64)',
                        data: [2, 10, 5, 2, 20, 30, 45]
                    }]
                },

                // Configuration options go here
                options: {}
            });
            console.log("맞나 :", msg);
        }).fail(function (error) {
        console.log("에러 : ", error);
    });

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        week_52[cnt] = result;
        cnt++;
        return result;
    }




</script>
</html>