<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>QnA Page</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <h1>happy parking page</h1>
            <br>
            <h2>주차장 등록하기</h2>
            남는 공간이나 주차장이 있으신가요?<br>
            공간과 주차장을 등록한 후 수입을 만들어보세요.<br>
            <a href="/happyParking/happyParkingRegister" role="button">계속</a>
        </div>
    </div>
</section>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>