<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>QnA Page</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="apply_form_area">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h1>게시글 등록</h1>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                게시글 제목&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-10" name="title" id="title">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                게시글 내용&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-10" name="content" id="content">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field col-md-12">
                                &ensp;&ensp;작성자&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" class="single_field col-md-10" name="writer" id="writer" th:value="${session.user.name}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="button-group-area mt-10 center">
                                    <button id="update" class="genric-btn info-border e-large">글수정</button>
                                    <button id="delete" class="genric-btn info-border e-large">삭제</button>
                                    <button id="selectcancel" class="genric-btn info-border e-large">취소</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
        </div>
    </div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:replace="layout/layout :: script"/>
</html>