<!-- ERROR 페이지는 다른 디렉토리로 경로 수정 시 작동하지 않습니다. -->
{{>layout/header}}

<div class="slider_area">
    <div class="single_slider d-flex align-items-center bg_error01">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-lg-7 col-md-6">
                    <div class="slider_text">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">: ( &nbspSERVER ERROR</h3>
                        <h4 class="wow fadeInRight" style="color: #5db2ff; margin-bottom: 5%;">뭔가 잘못되었나봐요! <BR>개발툴 또는 F12키로 콘솔을 읽어주세요...</h4>
                        <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                            <a href="/" class="boxed-btn3">GO MAIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}