<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  Flatpicker Styles  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <style>
        /*addHpBookmark 버튼 롤오버 시 손가락 모양 표시*/
        #addSCSBookmark{cursor: pointer;}
        /*datepicer input 롤오버 시 손가락 모양 표시*/
        #deleteSCSBookmark{cursor: pointer;}
    </style>
</head>
<head th:replace="layout/layout :: head"/>
<body>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--  Flatpickr  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<header th:replace="layout/layout :: header"/>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>충전소 예약</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" th:value="${session.user.email}" id="email">
<input type="hidden" th:value="${session.user.name}" id="name">
<input type="hidden" th:value="${session.user.phone}" id="phone">
<div class="about_area plus_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <img th:src="${charge.scs_pic}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_info pl-68">
                    <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                        <h3 th:text="${charge.scs_name}" th:value="${charge.scs_name}" id="scs_name"></h3>
                        <div style="float: right">
                            <input type="hidden" th:value="${checkBookmark}" id="change">
                            <img src="/img/bookmark2.png" id="addSCSBookmark" style="width: 30px; height: 30px">
                            <img src="/img/bookmark.png" id="deleteSCSBookmark" style="width: 30px; height: 30px">
                        </div>
                    </div>
                    <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <span th:text="${charge.road_addr}"></span><br>
                        <span th:text="${charge.extra_addr}"></span>
                    </p>
                    <div class="about_list">
                        <ul>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">시작 운영 시간 : <span id="start_manage_time" th:text="${charge.start_manage_time}"/></li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">종료 운영 시간 : <span id="end_manage_time"th:text="${charge.end_manage_time}"/></li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">기본 요금(30분당) : <span id="min30_fee" th:text="${charge.min30_fee}"/></li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">추가 요금(10분당) : <span id="addmin10_fee" th:text="${charge.addmin10_fee}"/></li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">이름 : <span th:text="${charge.name}"/></li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">폰번호 : <span th:text="${charge.phone}"/></li>
                            <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".8s">
                                <button class="genric-btn info-border circle" data-toggle="modal" data-target="#loadMyCarModal" id="loadMyCarModalBtn">차량 선택</button>
                            </li>
                            <div id="loadMyCar"/>
                        </ul>


                        <br><h4>예약</h4><br>
                        <p>시작시간 : <input type="datetime-local" id="start_date"></p>
                        <p>종료시간 : <input type="datetime-local" id="end_date"></p><br>
                        <input type="hidden" th:value="${checkSCSBookBtn}" id="checkSCSBookBtn">
                        <button style="float: right; color: #FFFFFF" class="genric-btn success radius" id="scsBookCancel">예약취소</button>
                        <button style="float: right; color: #FFFFFF" class="genric-btn success radius" id="scsBook">예약</button>
                        가격 : <span id="price"></span>원
                    </div>
                    <div class="about_btn wow fadeInRight" data-wow-duration="1.0s" data-wow-delay=".5s">
                        <a style="float: right; color: #FFFFFF" class="genric-btn success radius" id="scsBookBack">뒤로</a>&emsp14;&emsp14;&emsp14;
                        <a style="float: right; color: #FFFFFF" class="genric-btn primary radius" id="scsPay">결제</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 모달 -->
<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="loadMyCarModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">차량 등록</h4>
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">X</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <ul id="loadMyCarList"></ul>
                </div>
                <button type="button" id="modalClose" class="btn btn-outline-danger" data-dismiss="modal" style="display: none">취소</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"/>
</body>
<script th:async src="/js/scsBook.js"></script>
<script th:async th:replace="layout/layout :: script"/>
<script th:async type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    const picker = document.getElementById('end_date');
    picker.addEventListener('input', function(e){
        var day = new Date(this.value).getUTCDay();
        if([0,6].includes(day)){
            e.preventDefault();
            this.value = '';
            alert('주말 및 공휴일은 불가능합니다');
        }
    });
</script>
<script>
    const picker2 = document.getElementById('start_date');
    picker2.addEventListener('input', function(e){
        var day = new Date(this.value).getUTCDay();
        if([0,6].includes(day)){
            e.preventDefault();
            this.value = '';
            alert('주말 및 공휴일은 불가능합니다');
        }
    });
</script>

</html>
