<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.AddMapper">

    <select id="graph" resultType="com.fivekm_home.charge.domain.ADDITION.GRAPH">
        select count(CREATE_DATE) as "7월 이후 가입자 수"
        from member
        where to_char(create_date, 'YYYYMMDD') > 20200701;
     </select>

</mapper>
