<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.CSMapper">
    <select id="loadResidence" resultType="com.fivekm_home.charge.domain.HP.HP_loadRes">
        select resName, postcode, roadAddress, jibunAddress, extraAddress, detailAddress, email
        from residence_view
        where email = #{email}
    </select>

    <insert id="csReg">
        insert into CS values(
        #{chargeName},
        #{operation},
        #{chargeSpeed},
        #{chargeAmount},
        #{min30Fee},
        #{addMin10Fee},
        #{manageTime},
        #{chargePic},
        #{aptMap},
        #{cable},
        #{chargeType},
        sysdate,
        'N',
        #{resName}
        )
    </insert>

    <select id="csBookPage" resultType="com.fivekm_home.charge.domain.CS.CS_bookPage">
        select chargePic, chargeName, min30Fee, addmin10Fee, aptMap,
                roadAddress, extraAddress, name, phone, manageTime, m.email
        from member_view m, cs_view c, residence_view r
        where m.email = r.email
        and c.resName = r.resName
        and chargeName = #{chargeName}
    </select>

    <select id="csRequestList" resultType="com.fivekm_home.charge.domain.CS.CS_requestList">
        SELECT CHARGENAME, OPERATION, CHARGESPEED, CHARGEAMOUNT, MIN30FEE, ADDMIN10FEE, CABLE, CHARGETYPE, CHARGINGCHK, c.resName, r.roadAddress, r.jibunAddress,
            r.detailAddress, c.regDate, m.name
        FROM cs_view c, residence_view r, member_view m
        where c.resName = r.resName
        and m.email = r.email
    </select>

    <select id="csRequestPick" resultType="com.fivekm_home.charge.domain.CS.CS_requestPick">
        SELECT m.name, CHARGENAME, OPERATION, CHARGESPEED, CHARGEAMOUNT,MIN30FEE, ADDMIN10FEE, CABLE, CHARGETYPE, CHARGINGCHK, c.CHARGEPIC, c.APTMAP,
        r.lat, r.lng, r.postcode, r.roadAddress, r.jibunAddress, r.detailAddress, r.extraAddress
        from cs_view c, residence_view r, member_view m
        where c.resName = r.resName
        and m.email = r.email
        and chargeName = #{chargeName}
    </select>

    <select id="csSearchDataList" resultType="com.fivekm_home.charge.domain.CS.CS_search">
        select CHARGENAME, chargeAmount , OPERATION, min30Fee, addMin10Fee, roadAddress, extraAddress,
        manageTime, chargePic, lat, lng, chargingChk
        from cs_view c, residence_view r
        where c.resName = r.resName
        and chargingChk = 'Y'
    </select>

    <update id="updateChargingChk">
        update cs_view
        set chargingChk = 'Y'
        where chargeName = #{chargeName}
    </update>

    <insert id="csBook">
        insert into CS_Book_view values (
            concat(concat(to_char(sysdate,'YYYY/MM/DD'),#{chargeName}),#{email}), #{startDate},
            #{endDate}, 'N', #{email}, #{chargeName}, sysdate
        )
    </insert>

    <insert id="csPay">
        insert into CS_PAY_view values (
            concat(to_char(sysdate,'YYYY/MM/DD'),#{email}), 'card', #{userName}, #{price},
            #{email}, #{chargeName}, #{phone}, concat(concat(to_char(sysdate,'YYYY/MM/DD'),#{chargeName}),#{email}),
            sysdate
        )
    </insert>
</mapper>