<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.HPMapper">
    <select id="loadResidence" resultType="com.fivekm_home.charge.domain.HP.HP_loadRes">
        select res_name, post_code, road_addr, jibun_addr, extra_addr, detail_addr, email
        from res_view
        where email = #{email}
    </select>

    <insert id="hpReg">
        insert into hp_view values(
            #{hp_name},
            #{hp_type},
            #{place},
            #{min30_fee},
            #{addMin10_fee},
            #{start_manage_time},
            #{end_manage_time},
            #{hp_pic},
            #{apt_map},
            sysdate,
            'N',
            #{res_name}
        )
    </insert>

    <select id="hpRequestList" resultType="com.fivekm_home.charge.domain.HP.HP_requestList">
        select hp_name, hp_type, place, p.res_name, r.road_addr, r.jibun_addr,
               r.detail_addr, p.reg_date, m.name, hp_chk
        from hp_view p, res_view r, member_view m
        where p.res_name = r.res_name
        and m.email = r.email
    </select>

    <select id="hpRequest"  resultType="com.fivekm_home.charge.domain.HP.HP_request">
        select m.name, hp_name, hp_type, place, min30_fee, addMin10_fee, start_manage_time, end_manage_time,
                r.post_code, r.road_addr, r.jibun_addr, r.detail_addr, r.extra_addr,
                p.apt_map, p.hp_pic, r.lat, r.lng
        from hp_view p, res_view r, member_view m
        where p.res_name = r.res_name
          and m.email = r.email
          and hp_name = #{hp_name}
    </select>

    <select id="hpBookPage" resultType="com.fivekm_home.charge.domain.HP.HP_bookPage">
        select hp_pic, hp_name, place, min30_fee, addMin10_fee, apt_map,
                road_addr, extra_addr, name, phone, start_manage_time, end_manage_time, m.email
        from member_view m, hp_view p, res_view r
        where m.email = r.email
        and p.res_name = r.res_name
        and hp_name = #{hp_name}
    </select>

    <update id="updateParkingChk">
        update hp_view
        set hp_chk = 'Y'
        where hp_name = #{hp_name}
    </update>
    
    <select id="hpSearchDataList" resultType="com.fivekm_home.charge.domain.HP.HP_search">
        select hp_name, hp_type, min30_fee, addMin10_fee, road_addr, extra_addr,
        start_manage_time, end_manage_time, place, hp_pic, lat, lng, hp_chk
        from hp_view p, res_view r
        where p.res_name = r.res_name
        and hp_chk = 'Y'
    </select>

    <insert id="hpBook">
        insert into hp_book_view values (
            hp_book_seq.nextval, #{start_date}, #{end_date},
            #{email}, #{car_num}, #{hp_name}, sysdate
        )
    </insert>

    <insert id="hpPay">
        insert into hp_pay_view values (
            hp_pay_seq.nextval, 'card', #{user_name}, #{price},
            #{email}, #{hp_name}, #{phone}, hp_book_seq.currval,
            sysdate
        )
    </insert>

    <select id="checkBookmark" resultType="int">
        select count(*)
        from hp_bookmark_view
        where email = #{email}
        and hp_name = #{hp_name}
    </select>

    <insert id="addHpBookmark">
        insert into hp_bookmark_view values(
            #{email},
            #{hp_name}
        )
    </insert>

    <delete id="deleteHpBookmark">
        delete from hp_bookmark_view
        where email = #{email}
        and hp_name = #{hp_name}
    </delete>
    
    <select id="hpPlaceList" resultType="com.fivekm_home.charge.domain.HP.HP_cnPlList">
        select * from hp_ch_pl_view
    </select>

    <select id="hpMapSearch" resultType="com.fivekm_home.charge.domain.HP.HP_mapSearch">
        select h.hp_name, r.lat, r.lng
        from hp h, res r
        where h.res_name = r.res_name
        and hp_name like '%'||#{hp_name}||'%'
    </select>
</mapper>