<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.HPMapper">
    <select id="loadResidence" resultType="com.fivekm_home.charge.domain.HP.HP_loadRes">
        select resName, postcode, roadAddress, jibunAddress, extraAddress, detailAddress, email
        from residence_view
    </select>

    <insert id="hpReg">
        insert into parking_view values(
            #{parkingName},
            #{parkingType},
            #{place},
            #{min30Fee},
            #{addMin10Fee},
            #{manageTime},
            #{parkingPic},
            #{aptMap},
            sysdate,
            'N',
            #{resName}
        )
    </insert>

    <select id="hpRequest" resultType="com.fivekm_home.charge.domain.HP.HP_request">
        select PARKINGNAME, parkingType, min30Fee, addMin10Fee, place, sample4_postcode,
        sample4_roadAddress, sample4_jibunAddress, sample4_detailAddress,
        sample4_extraAddress, dayTime, weeTime, holTime, aptMap, parkingPic
        from PARKING
        where PARKINGNAME = #{parkingName,jdbcType=VARCHAR}
    </select>

    <select id="hpRequestList" resultType="com.fivekm_home.charge.domain.HP.HP_requestList">
        select parkingName, parkingType, place, p.resName, r.roadAddress, r.jibunAddress,
         r.detailAddress, p.regDate, m.name, parkingChk
        from parking_view p, residence_view r, member_view m
        where p.resName = r.resName
        and m.email = r.email
    </select>
    
    <select id="hpBook" resultType="com.fivekm_home.charge.domain.HP.HP_book">
        select PARKINGPIC, PARKINGNAME, DAYTIME, WEETIME, HOLTIME, place
        from PARKING
    </select>
</mapper>