<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.MemMapper">
    <select id="memberList" resultType="com.fivekm_home.charge.domain.USER.MemberList">
        select * from member_view
     </select>

    <insert id="join">
        insert into member_view(created_date, email, name, password, phone, role, picture) values(
        sysdate,
        #{email},
        #{name},
        #{password},
        #{phone},
        '일반',
        #{picture}
        )
    </insert>

    <insert id="kakaoJoin">
        insert into member_view(email, created_date, name, picture, role) values(
            #{email},
            sysdate,
            #{name},
            #{picture},
            '일반'
        )
    </insert>

    <select id="kakaoLoginCheck" resultType="com.fivekm_home.charge.domain.USER.KakaoLogin">
        select email from member_view
        where email = concat(#{email},'_kakao')
    </select>
    <select id="checkId" resultType="int">
        select count(*) from member_view
        where email = #{email}
    </select>

    <select id="login" resultType="com.fivekm_home.charge.domain.USER.Login">
        select * from member_view
        where email = #{email}
        and password = #{password}
    </select>

    <select id="kakaoLogin" resultType="com.fivekm_home.charge.domain.USER.Kakao">
        select * from member_view
        where email = #{email}
    </select>
    <select id="searchId" resultType="com.fivekm_home.charge.domain.USER.SearchId">
        select email from member_view
        where name = #{name}
        and phone = #{phone}
    </select>

    <select id="searchPassword" resultType="com.fivekm_home.charge.domain.USER.SearchPassword">
        select password from member_view
        where email = #{email}
        and phone = #{phone}
    </select>

    <select id="MemberEdit" resultType="com.fivekm_home.charge.domain.USER.MemberEdit2">
        select *
        from member_view
        where email = #{email}
    </select>

    <update id="updateGuard">
        update member set role = '경비'
        where email = #{email}
    </update>

    <update id="updateRegister">
        update member set role = '등록자'
        where email = #{email}
    </update>
</mapper>
