<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.MyPageMapper">
    <update id="updatePassword">
        update member_view set password = #{password}
        where email = #{email}
    </update>

    <insert id="regGuard">
        insert into mp_view values (
            #{email},
            #{mp_lic},
            #{mp_co},
            #{mp_co_num},
            sysdate,
            null
        )
    </insert>

    <insert id="regRegister">
        insert into reg_view values (
            #{email},
            #{reg_lic},
            #{acc_num},
            #{bank_name},
            sysdate
        )
    </insert>

    <select id="checkResidence" resultType="int">
        select count(*) from res
        where res_name = #{res_name}
    </select>

    <insert id="regResidence">
        insert into res_view values (
            #{res_name},
            #{post_code},
            #{road_addr},
            #{jibun_addr},
            #{detail_addr},
            #{extra_addr},
            #{lat},
            #{lng},
            sysdate,
            #{email}
        )
    </insert>

    <insert id="regCar">
        insert into car_view values (
            #{car_id}, #{car_name,jdbcType=VARCHAR}, #{car_model,jdbcType=VARCHAR},
            #{car_scs_type,jdbcType=VARCHAR}, #{email}
        )
    </insert>

    <select id="memCarList" parameterType="com.fivekm_home.charge.domain.USER.MemCarList" resultType="com.fivekm_home.charge.domain.USER.MemCarList">
        select * from car_view
        where email = #{email}
    </select>

    <select id="loadMyCar" resultType="com.fivekm_home.charge.domain.USER.RegCar">
        select car_id from car_view where email = #{email}
    </select>

    <select id="userHpBookmark" resultType="com.fivekm_home.charge.domain.USER.UserBookmark">
        select * from
        (select b.email, b.hp_name, hp_pic, road_addr, extra_addr, start_manage_time,
        end_manage_time, min30_fee, addmin10_fee, row_number() over(order by hp_bookmark_reg_date desc) ronum
        from hp_view s, hp_bookmark_view b, res_view r
        where s.hp_name = b.hp_name
        and s.res_name = r.res_name
        and b.email = #{email})
        where ronum between #{rowStart} and #{rowEnd}
    </select>

    <select id="userHpBookmarkCnt" resultType="int">
        select count(*) from
        (select b.email, b.hp_name, hp_pic, road_addr, extra_addr, start_manage_time,
        end_manage_time, min30_fee, addmin10_fee
        from hp_view s, hp_bookmark_view b, res_view r
        where s.hp_name = b.hp_name
        and s.res_name = r.res_name
        and b.email = #{email})
    </select>

    <select id="userSCSBookmark" resultType="com.fivekm_home.charge.domain.USER.UserBookmark">
        select * from
        (select b.email, b.scs_name, scs_pic, road_addr, extra_addr, start_manage_time,
        end_manage_time, min30_fee, addmin10_fee, row_number() over(order by scs_bookmark_reg_date desc) ronum
        from scs_view s, scs_bookmark_view b, res_view r
        where s.scs_name = b.scs_name
        and s.res_name = r.res_name
        and b.email = #{email})
        where ronum between #{rowStart} and #{rowEnd}
    </select>

    <select id="userSCSBookmarkCnt" resultType="int">
        select count(*) from
        (select b.email, b.scs_name, scs_pic, road_addr, extra_addr, start_manage_time,
        end_manage_time, min30_fee, addmin10_fee
        from scs_view s, scs_bookmark_view b, res_view r
        where s.scs_name = b.scs_name
        and s.res_name = r.res_name
        and b.email = #{email})
    </select>

    <select id="userSCSHistoryList" resultType="com.fivekm_home.charge.domain.USER.History">
        select * from
        (select s.scs_name, r.road_addr, b.start_date, b.end_date, p.price, scs_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by scs_pay_date desc) ronum
        from res_view r, scs_book_view b, scs_pay_view p, scs_view s
        where b.email = #{email}
        and s.scs_name = b.scs_name
        and r.res_name = s.res_name
        and p.book_id = b.book_id)
        where ronum between #{rowStart} and #{rowEnd}
        order by scs_pay_date desc
    </select>

    <select id="userSCSHistoryListCnt" resultType="int">
        select count(*) from
        (select s.scs_name, r.road_addr, b.start_date, b.end_date, p.price, scs_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by scs_pay_date desc) ronum
        from res_view r, scs_book_view b, scs_pay_view p, scs_view s
        where b.email = #{email}
        and s.scs_name = b.scs_name
        and r.res_name = s.res_name
        and p.book_id = b.book_id)
    </select>

    <select id="userHPHistoryList" resultType="com.fivekm_home.charge.domain.USER.History">
        select * from
        (select h.hp_name, r.road_addr, b.start_date, b.end_date, p.price, hp_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by hp_pay_date desc) ronum
        from res_view r, hp_book_view b, hp_pay_view p, hp_view h
        where b.email = #{email}
        and h.hp_name = b.hp_name
        and r.res_name = h.res_name
        and p.book_id = b.book_id)
        where ronum between #{rowStart} and #{rowEnd}
        order by hp_pay_date desc
    </select>

    <select id="userHPHistoryListCnt" resultType="int">
        select count(*) from
        (select h.hp_name, r.road_addr, b.start_date, b.end_date, p.price, hp_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by hp_pay_date desc) ronum
        from res_view r, hp_book_view b, hp_pay_view p, hp_view h
        where b.email = #{email}
        and h.hp_name = b.hp_name
        and r.res_name = h.res_name
        and p.book_id = b.book_id)
    </select>

    <select id="scsHistorySearchList" resultType="com.fivekm_home.charge.domain.USER.History">
        select * from
        (select s.scs_name, r.road_addr, b.start_date, b.end_date, p.price, scs_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by scs_pay_date desc) ronum
        from res_view r, scs_book_view b, scs_pay_view p, scs_view s
        where b.email = #{email}
        and s.scs_name = b.scs_name
        and r.res_name = s.res_name
        and p.book_id = b.book_id
        and scs_pay_date between to_date(#{find_start_date}, 'yyyy-mm-dd')
        and to_date(#{find_end_date}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss'))
        where ronum between #{rowStart} and #{rowEnd}
        order by scs_pay_date desc
    </select>

    <select id="scsHistorySearchListCnt" resultType="int">
        select count(*) from
        (select s.scs_name, r.road_addr, b.start_date, b.end_date, p.price, scs_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by scs_pay_date desc) ronum
        from res_view r, scs_book_view b, scs_pay_view p, scs_view s
        where b.email = #{email}
        and s.scs_name = b.scs_name
        and r.res_name = s.res_name
        and p.book_id = b.book_id
        and scs_pay_date between to_date(#{find_start_date}, 'yyyy-mm-dd')
        and to_date(#{find_end_date}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss'))
    </select>

    <select id="hpHistorySearchList" resultType="com.fivekm_home.charge.domain.USER.History">
        select * from
        (select h.hp_name, r.road_addr, b.start_date, b.end_date, p.price, hp_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by hp_pay_date desc) ronum
        from res_view r, hp_book_view b, hp_pay_view p, hp_view h
        where b.email = #{email}
        and h.hp_name = b.hp_name
        and r.res_name = h.res_name
        and p.book_id = b.book_id
        and hp_pay_date between to_date(#{find_start_date}, 'yyyy-mm-dd hh24:mi:ss')
        and to_date(#{find_end_date}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss'))
        where ronum between #{rowStart} and #{rowEnd}
        order by hp_pay_date desc
    </select>

    <select id="hpHistorySearchListCnt" resultType="int">
        select count(*) from
        (select h.hp_name, r.road_addr, b.start_date, b.end_date, p.price, hp_pay_date, b.email,
        TRUNC((to_date(to_char(end_date, 'yyyymmddhh24miss'),'yyyymmddhh24miss') -
        to_date(to_char(start_date, 'yyyymmddhh24miss'), 'yyyymmddhh24miss'))*24) used_time,
        row_number() over(order by hp_pay_date desc) ronum
        from res_view r, hp_book_view b, hp_pay_view p, hp_view h
        where b.email = #{email}
        and h.hp_name = b.hp_name
        and r.res_name = h.res_name
        and p.book_id = b.book_id
        and hp_pay_date between to_date(#{find_start_date}, 'yyyy-mm-dd hh24:mi:ss')
        and to_date(#{find_end_date}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss'))
    </select>
</mapper>