<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.OtherMapper">

    <!-- 연도 조회(number) -->
    <select id="membersYears" resultType="int">
        select count(*)
        from member
        where to_char(created_date, 'YYYY') = '2020'
    </select>

    <!-- 1월 ~ 12월 조회(String, number) -->
    <select id="membersMonths" resultType="com.fivekm_home.charge.domain.OTHER.MembersMonths">
        select to_char(created_date, 'yyyy-mm') as "MONTH", count(*) as "CREATED_DATE"
        from member
        where to_char(created_date, 'YYYY') = '2020'
        group by to_char(created_date, 'yyyy-mm')
        order by MONTH
    </select>

    <!-- 1일 ~ 31일 조회(String) -->
    <select id="membersDays" resultType="com.fivekm_home.charge.domain.OTHER.MembersDays">
        select to_char(created_date, 'dd') as created_date
        from member
        where to_char(created_date, 'MM') = '07'
        and to_char(created_date, 'YYYY') = '2020'
        order by CREATED_DATE
    </select>

    <!-- 특정 기간 조회(String) -->
    <select id="membersTerm" resultType="com.fivekm_home.charge.domain.OTHER.MembersTerm">
        select to_char(created_date, 'yyyy-mm-dd') as created_date
        from member
        where created_date between to_date('2020-01-01', 'yyyy-mm-dd')
        and to_date('2020-07-31', 'yyyy-mm-dd')+1
        order by CREATED_DATE
    </select>

</mapper>
