<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.OtherMapper">

    <!-- 1월 ~ 12월 조회(String, number) -->
    <select id="membersDate" resultType="com.fivekm_home.charge.domain.OTHER.MembersDate">
        select CREATED_DATE from member
    </select>

    <!-- 충전소 랭킹 조회 -->
    <select id="rankingSCS" resultType="com.fivekm_home.charge.domain.OTHER.PaycountSCS">
        select * from (
        select SCS_NAME, count(*) as PAYNUM from SCS_PAY
        group by SCS_NAME
        ) order by PAYNUM desc
    </select>



</mapper>
