<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivekm_home.charge.mapper.SCSMapper">
    <select id="loadResidence" resultType="com.fivekm_home.charge.domain.HP.HP_loadRes">
        select res_name, post_code, road_addr, jibun_addr, extra_addr, detail_addr, email
        from res_view
        where email = #{email}
    </select>

    <insert id="scsReg">
        insert into scs values(
        #{scs_name},
        #{oper_ins},
        #{scs_speed},
        #{scs_amount},
        #{min30_fee},
        #{addMin10_fee},
        #{manage_time},
        #{scs_pic},
        #{apt_map},
        #{cable},
        #{scs_type},
        sysdate,
        'N',
        #{res_name}
        )
    </insert>

    <select id="scsRequestList" resultType="com.fivekm_home.charge.domain.SCS.SCS_requestList">
        SELECT scs_name, scs_amount, scs_type, scs_chk, c.res_name, r.road_addr, r.jibun_addr,
            r.detail_addr, c.reg_date, m.name
        FROM scs_view c, res_view r, member_view m
        where c.res_name = r.res_name
        and m.email = r.email
    </select>

    <select id="scsRequest" resultType="com.fivekm_home.charge.domain.SCS.SCS_request">
        SELECT m.name, scs_name, oper_ins, scs_speed, scs_amount, min30_fee, addmin10_fee, cable, scs_type, scs_chk, c.scs_pic, c.apt_map,
        r.lat, r.lng, r.post_code, r.road_addr, r.jibun_addr, r.detail_addr, r.extra_addr
        from scs_view c, res_view r, member_view m
        where c.res_name = r.res_name
        and m.email = r.email
        and scs_name = #{scs_name}
    </select>

    <select id="scsBookPage" resultType="com.fivekm_home.charge.domain.SCS.SCS_bookPage">
        select scs_pic, scs_name, min30_fee, addmin10_fee, apt_map,
                road_addr, extra_addr, name, phone, manage_time, m.email
        from member_view m, scs_view c, res_view r
        where m.email = r.email
        and c.res_name = r.res_name
        and scs_name = #{scs_name}
    </select>

    <update id="updateChargingChk">
        update scs_view
        set scs_chk = 'Y'
        where scs_name = #{scs_name}
    </update>

    <select id="scsSearchDataList" resultType="com.fivekm_home.charge.domain.SCS.SCS_search">
        select scs_name, scs_amount , oper_ins, min30_fee, addMin10_fee, road_addr, extra_addr,
        manage_time, scs_pic, lat, lng, scs_chk
        from scs_view c, res_view r
        where c.res_name = r.res_name
        and scs_chk = 'Y'
    </select>

    <insert id="scsBook">
        insert into scs_book_view values (
            scs_book_seq.nextval, sysdate, #{start_time},
            #{end_time}, 'N', #{email}, #{scs_name}
        )
    </insert>

    <insert id="scsPay">
        insert into scs_pay_view values (
            scs_pay_seq.nextval, 'card', #{user_name}, #{price},
            #{email}, #{scs_name}, #{phone}, scs_book_seq.currval,
            sysdate
        )
    </insert>
</mapper>